@import "../_import.scss";

.search{
    @include page;
    background-color: $bg-darkblue;

    &__content{
        @include margin_vert(50px);
        @include margin_hor_auto;
    }

    &__bgimg{
        width: 70vw;
        opacity: 0.25;
        transform: translate(-10%, 0);
    }

    &__barcontainer{
        width: 100%;
        @include margin_hor_auto;
    }

    &__bar{
        @include inputbar(30%);
    }

}

.result{
    background-color: $section-gray;
    color: $text-white;
    padding: 20px 0px;

    width: 80%;
    border-radius: 10px;

    &__summary{
        display: flex;
        align-items: center;
        margin: 0px 30px;
    }

    &__icon{
        width: 120px;
        margin-right: 50px;
    }

    &__box{
        display: flex;
        justify-content: center;
        overflow-x: auto;
    }
}

.entry{
    @include item;
}
