@import "../_base.scss";

@mixin item-button{
    @include button;
    width: 80%;
    color: $text-white;
}

@mixin item{
    background-color: $section-darkgray;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    width: Min(12em, 40vw);
    @include child_margin_vert(1em);

    &__img{
        width: 100%;
        background-color: $section-lightgray;
        margin-top: 0px !important;
    }

    &__firstbutton{
        @include item-button;
        background-color: $button-blue;
        margin-inline: auto;
    }

    &__secondbutton{
        @include item-button;
        background-color: $button-orange;
        margin-inline: auto;
    }
}
