$text-white: #ffffff;
$text-gray: #8f8c8c;

$section-gray: #3d414a;
$section-darkgray: #212328;
$section-lightgray: #808080;

$bg-black: #111111;
$bg-darkblue: #121318;

$border-blue: #5865f2;

$button-orange: #ff6740;
$button-blue: #5865f2;

@mixin button {
  border-radius: 5px;
  padding: 8px 15px;
  outline: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin child_margin_vert($amt, $apply_edge: true) {
  > * {
    margin-top: ($amt/2);
    margin-bottom: ($amt/2);
  }
  @if ($apply_edge) {
    > *:first-child {
      margin-top: $amt;
    }
    > *:last-child {
      margin-bottom: $amt;
    }
  }
}

@mixin child_margin_hor($amt, $apply_edge: true) {
  > * {
    margin-left: ($amt/2);
    margin-right: ($amt/2);
  }
  @if ($apply_edge) {
    > *:first-child {
      margin-left: $amt;
    }
    > *:last-child {
      margin-right: $amt;
    }
  }
}

@mixin fix_image_ratio($aspect-ratio: 16/9) {
  aspect-ratio: $aspect-ratio;
  object-fit: cover;
}

@mixin child_margin_auto{
  > * {
    margin-inline: auto;
  }
}
